{% extends 'layout.html' %}
{% block content %}
  {% if action == 'register' %}
    {% set action = "register_route" %}
    {% set buttonText = 'Register' %}
  {% elif action == 'login' %}
    {% set action = "login_route" %}
    {% set buttonText = 'Login' %}
  {% endif %}
  <div class="user-system-div">
    <form method="post" action="{{ url_for(action) }}">
      <input type="text" name="login">
      <input type="password" name="password">
      <button type="submit">{{ buttonText }}</button>
    </form>
  </div>
{% endblock %}